.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header__logo {
    height: 25px;
    margin-left: 20px;
    /* object-fit: contain; */
}

.header__center {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
}

.header__center>input {
    flex: 1;
    border: none !important;
}

.header__center>input:focus {
    outline: none;
}

.header__searchButton {
    width: 50px !important;
    background: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
    padding-right: 20px !important;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__icon {
    margin-right: 8px;
}

@media(max-width: 660px) {
    .header__searchButton {
        width: 20px !important;
        padding-right: 20px !important;
        margin-right: 20px !important;
    }
}